:root {
    --border-color: rgb(213, 213, 213);
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.headerMobile {
    display: none;
}
/* 화면상단 */
header {
    width: 100%;
    position: fixed;
    z-index: 5;
}
/* 화면상단 컨테이너 */
header .container {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: white;
}
header .container .topcontainer {
    left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1100px; 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 margin을 자동으로 계산 */
    position: fixed;
}
/* 화면 왼측 상단 로고 컨테이터 */
.container .logo {
    /* background-color: red; */
    position: fixed;
    height: 80px;
    width: 150px;
    float: left;
    margin-left: 15px;
}

/* 화면 왼측 상단 로고 이미지 */
.container .logo img {
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
    object-fit: cover;
    float: left;
}
/* 화면 왼측 상단 로고 컨테이너 텍스트 */
.container .logo p {
    width: 80px;
    height: 80px;
    margin: 0px;
    float: left;
}
/* 화면 왼측 상단 로고 컨테이너 텍스트 첫번째 줄*/
.container .logo span:nth-child(1) {
    color: rgb(246, 27, 32);
    margin: auto;
    display: block;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 5px;
    font-weight: bold;
}
/* 화면 왼측 상단 로고 컨테이너 텍스트 두번째 줄*/
.container .logo span:nth-child(2) {
    display: block;
    line-height: 25px;
    color: #292929;
    font-size: 20px;
    margin-left: 3px;
}
/* 화면 상단 메뉴 컨테이너 */
.container .menu {
    margin-left: 300px;
    position: fixed;
    /* background-color: blue; */
    align-items: center; /* 세로 중앙 정렬 */
    width: 600px;
}
/* 화면 상단 메뉴 컨테이너 리스트 상위*/
.container .menu ul {
    margin-top: 25px;
    display: flex;
    list-style-type: none;
}
/* 화면 상단 메뉴 컨테이너 리스트 하위*/
.container .menu li {
    float: left;
    margin-left: 22px;
}
/*선택 된 게시판*/
.container .menu .chosen {
    text-decoration: none;
    color: rgb(246, 27, 32);
    font-weight: bold;
    border-bottom: solid 4px rgb(246, 27, 32);
    padding-bottom: 32px;
}
/* 화면 상단 메뉴 컨테이너 리스트 하위 링크*/
.container .menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* 화면 상단 메뉴 컨테이너 리스트 하위 hover시*/
.container .menu li a:hover {
    text-decoration: none;
    color: rgb(246, 27, 32);
    font-weight: bold;
}
/* 화면 우측 상단 아이콘 컨테이너 */
.container .icon {
    height: 50px;
    width: 100px;
    margin-top: 23px;
    margin-left: 1063px;
    position: fixed;
}
/* 화면 우측 상단 아이콘*/
.container .icon img {
    height: 20px;
    padding: 9px;
    float: right;
    display: block;
    margin-right: 5px;
    border: solid 0.1px var(--border-color);
    border-radius: 11px;
}
/* <!-------------------------------------------------------------------------------> */
/*-------여기서 부터 화면 게시판 상단---------*/
.headerContainer {
    position: relative;
    top: 82px;
    width: 100%;
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    background-color: rgba(242, 242, 242);
    /* background-color: blue; */
    height: 245px;
    z-index: 4;
    overflow-x: auto;
}

.headUl {
    position: relative;
    display: flex;
    /* width: 1300%; */
    height: 90%;
    flex-direction: row;
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 margin을 자동으로 계산 */
    /* background-color: aqua; */
    width: 960px;
    height: 230px;
    box-sizing: border-box; /* border와 padding이 요소의 크기에 포함되도록 box-sizing 설정 */
    background-color: rgb(242, 242, 242);
}

.headUlList {
    /* margin-right: 30px; */
    /* background-color: green; */
    width: 100%;
    box-sizing: border-box; /* border와 padding이 요소의 크기에 포함되도록 box-sizing 설정 */
    /* align-items: center; */
}
.headUlList ul {
    height: 200px;
    max-width: 100%;
    /* box-sizing: border-box; */
}
.headUlList ul li {
    position: relative;
    list-style-type: none;
    font-size: 9pt;
    font-family: sans-serif;
    margin-bottom: 10px;
    width: 120px;
    max-width: 100%;
    /* background-color: aquamarine; */
    right: 20px;
}
.headerContainer li:hover {
    text-decoration: none;
    color: rgb(246, 27, 32);
    font-weight: bold;
}
.headUlList .firstheadUl {
    border-left: solid 0.1px var(--border-color);
    margin-left: 15px;
}
.headUlList .selectedUl {
    color: rgb(246, 27, 32);
    font-weight: bold;
}
.headUlList .secondheadUl {
}
.headUlList .thirdheadUl {
    border-left: solid 0.1px var(--border-color);
}
.headUlList .fourthheadUl {
    border-left: solid 0.1px var(--border-color);
    border-right: solid 0.1px var(--border-color);
}
.headUlList .fifthheadUl li {
}
.headUlList .sixthheadUl {
    border-right: solid 0.1px var(--border-color);
    margin-right: 15px;
    width: 130px;
    box-sizing: border-box;
}
.dot {
    position: relative;
    align-items: center;
    top: 3px;
    color: rgb(42, 153, 153);
    font-weight: bold;
    font-size: 20px;
}
/* <!-------------------------------------------------------------------------------> */
/*--------------------여기서 부터 section----------------*/
section {
    position: relative;
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto; /* 화면 가운데 정렬을 위해 margin을 auto로 설정 */
    /* background-color: blue; */
    width: 1130px;
    top: 100px;
}

.board {
    width: 774px;
    position: relative;
}
.board .boardTitle {
    box-sizing: border-box;
    width: 774px;
    /* background-color: teal; */
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
    border: solid 1px var(--border-color);
}
.board .btnCollection {
    /* background-color: yellow; */
    height: px;
    border: solid 1px var(--border-color);
    margin-bottom: 6px;
}
#beforeClick {
    display: block;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
    width: 774px;
    height: 45px;
    border: solid 2px var(--border-color);
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
#beforeClickText {
    color: rgb(164, 164, 164);
    font-size: 10pt;
    background-color: rgba(255, 0, 0, 0); /* 완전히 투명한 배경 */
    outline: none; /* 포커스 효과 없애기 */
    border: none; /* 테두리 없애기 */
    width: 725px;
    margin-left: 10px;
}
#beforeClick img{
    width:20px;
}
.board .icon img {
    position: relative;
    top: 6px;
    width: 17px;
    filter: invert(67%) sepia(0%) saturate(167%) hue-rotate(169deg)
    brightness(98%) contrast(80%);
}
.board .boardTable {
    box-sizing: border-box;
    /* background-color: burlywood; */
    width: 774px;
    height: 2200px;
    border: solid 1px var(--border-color);
    border-collapse: collapse;
}
.board td {
    border: solid 1px var(--border-color);
    box-sizing: border-box;
}
.board .boardTable div {
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 10pt;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.board .boardListDivOne {
    font-weight: bold;
}
.board .icons {
    color: rgb(173, 173, 173);
    /* background-color: blueviolet; */
    display: flex;
}
.board .icons span {
    padding-right: 3px;
}
.board .icons img {
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
}
.board .bottomOfTable {
    /* background-color: rgb(173, 173, 173); */
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-top: 5px;
}
.board .searchContainer {
    margin-bottom: 100px;
    width: 245px;
    height: 35px;
    border: solid 1px rgb(166, 166, 166);
    border-radius: 3px;
}
.board .searchContainer select {
    position: relative;
    left: 5px;
    top: 4px;
    font-size: 10pt;
    color: rgb(115, 115, 115);
    width: 65px;
    height: 25px;
    border: none;
    margin: 0px;
}
.board .searchContainer input {
    position: relative;
    left: 5px;
    top: 4px;
    font-size: 10pt;
    color: rgb(115, 115, 115);
    width: 132px;
    height: 25px;
    border: none;
    margin: 0px;
    outline: none;
}
.board .searchContainer img {
    width: 15px;
    position: relative;
    top: 7px;
    left: 2px;
    margin-left: 0px; /* 가운데 정렬합니다. */
    filter: invert(30%) sepia(10%) saturate(0%) hue-rotate(0deg) brightness(30%)
    contrast(90%);
}
.board .nextBtn {
    position: relative;
    margin-right: 5px;
    width: 58px;
    height: 35px;
    background-color: transparent; /* 투명 배경색 */
    border: 1px solid rgb(246, 27, 32);
    border-radius: 3px;
    color: rgb(246, 27, 32);
    font-weight: bold;
}
.board .nextBtn span {
    font-weight: normal;
}

.rightColumn {
    position: relative;
    left: 25px;
    width: 350px;
    height: 580px;
}
.rightColumn .hotBoardTable {
    border: 1px solid var(--border-color);
    width: 325px;
    height: 200px;
    border-collapse: collapse;
    background-color: rgb(249, 249, 249);
    font-size: 10pt;
}
.rightColumn .hotBoardTitle {
    height: 30px;
}
.rightColumn .hotBoardTable th {
    display: flex;
    align-items: center;
}
.rightColumn .hotBoardTable th span {
    position: relative;
    top: 9px;
    margin-left: 200px;
    font-weight: normal;
    font-size: 9pt;
    color: rgb(115, 115, 115);
}
.rightColumn .hotBoardTable .hotBoardTitle {
    margin-left: 10px;
    color: rgb(32, 99, 179);
    font-size: 10pt;
    font-weight: bold;
}
.rightColumn .hotBoardTable td {
    border: 1px solid var(--border-color);
}

.rightColumn .hotBoardTable td span {
    margin-left: 10px;
    font-size: 10pt;
    width: 200px;
}
.rightColumn .hotBoardTable td .date {
    font-size: 8pt;
    color: rgb(115, 115, 115);
    margin-left: 70px;
}
#hotBoardTable2 {
    margin-top: 5px;
    height: 40px;
}
#hotBoardTable3 {
    margin-top: 5px;
    height: 340px;
}
#hotBoardTable3 th {
    display: flex;
    align-items: center;
    height: 40px;
}
#hotBoardTable3 th span {
    margin-bottom: 10px;
    box-sizing: border-box;
}
#hotBoardTable3 img {
    width: 10px;
    margin-bottom: 5px;
}
#hotBoardTable3 div {
    position: relative;
    left: 10px;
}
#hotBoardTable3 .title {
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 5px;
}
#hotBoardTable3 .contents {
    font-size: 9pt;
    color: rgb(115, 115, 115);
    width: 300px;
}
/* 버튼의 이미지 색상을 변경합니다. */

/* @media screen and (max-width: 1280px) {
  .container .logo {
    background-color: blue;
    height: 80px;
    width: 150px;
    margin-left: 15px;
  }
  .container .menu {
    margin-left: 350px;
  }
}  */

/* ----------------------------새글 작성 폼------------------------------------ */
#myForm {
    display: none;
}
#formContainer {
    box-sizing: border-box;
    border: solid 1px var(--border-color);
    border-collapse: collapse;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
    width: 774px;
    border: 2px solid rgb(213, 213, 213);
}
#formContainer th {
    text-align: left;
    padding: 15px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 6px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(117, 117, 117);
}
#formContainer tr td {
    box-sizing: border-box;
    margin: 0;
}

#formTextArea {
    width: 100%; /* 부모 컨테이너의 너비를 100%로 설정하여 크기를 동일하게 맞춤 */
    height: 380px; /* 부모 컨테이너의 높이를 100%로 설정하여 크기를 동일하게 맞춤 */
    border: none; /* 테두리(border)를 없앰 */
    outline: none; /* 포커스 효과를 없앰 */
    resize: none; /* 크기 조절을 비활성화 */
    box-sizing: border-box; /* 너비와 높이에 패딩과 테두리를 포함시킴 */
    padding: 20px;
}
#formCheckBoxContainer {
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.formCheckLabel {
    position: relative;
    top: -1.5px;
    font-size: 10pt;
    margin: 5px;
    vertical-align: auto;
    color: rgb(164, 164, 164);
}
.formCheckInput {
    position: relative;
    top: 1.5px;
    background-color: transparent;
    border: 1px solid rgb(164, 164, 164);
}
#formBtnContainer {
    position: relative;
    left: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 0;
    background-color: rgb(246, 27, 32);
}
#formBtn {
    width: 20px;
    fill: #ffffff;
}
/* -------------------------------반응형 웹 디자인----------------------- */
@media screen and (max-width: 640px) {
    .headerDesktop {
        display: none;
    }
    .headerMobile {
        display: block;
        background-color: white;
    }
    .headerMobile .icon {
        /* background-color: teal; */
        margin-left: 20px;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    .headerMobile .icon img {
        width: 20px;
        height: 20px;
    }
    .headerMobile .icon span {
        margin-left: 20px;
        font-size: 13pt;
    }
    .headerMobileContainer {
        /* background-color: green; */
        height: 35px;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    }
    .headerContainer {
        position: relative;
        top: 50px;
        width: 100%;
        border-top: solid 1px var(--border-color);
        border-bottom: double 1px var(--border-color);
        background-color: rgba(242, 242, 242);
        height: 250px;
        z-index: 4;
        overflow-x: auto;
    }
    .headerContainerBottom {
        position: relative;
        /* background-color: rgba(248, 248, 248); */
        z-index: 4;
        height: 272px;
    }
    .headUlList .sixthheadUl {
        border-right: solid 0.1px var(--border-color);
        margin-right: 15px;
        width: 100px;
        box-sizing: border-box;
    }
    /* ----------------------여기서 부터 화면 중단--------------------------------- */
    section {
        position: relative;
        width: 100%;
        /* top: 60px; */
        display: flex;
        flex-direction: column;
        /* margin: 10px; */
    }
    .board {
        position: relative;
        max-width: 100%;
        width: 100%;
        left: -20px;
        margin: 0 auto;
    }
    .boardTitle {
        display: none;
    }
    .rightColumn {
        display: none;
    }
    #beforeClick {
        max-width: 100%;
    }
    .boardTable {
        max-width: 100%;
    }
    #beforeClickContainer {
        /* box-sizing: border-box; */
        padding: 3px;
        background-color: rgb(249, 249, 249);
        display: flex;
        border-top: solid 1px rgb(213, 213, 213);
        justify-content: center;
        align-items: center;
    }
    #beforeClick {
        position: relative;
        top: 3px;
    }
    #formTableContainer {
        background-color: rgb(249, 249, 249);
        border-top: solid 1px rgb(213, 213, 213);

        height: 320px;
    }
    #formContainer {
        position: relative;
        top: 7px;
        /* box-sizing: border-box; */
        border: solid 1px var(--border-color);
        border-collapse: collapse;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 6px;
        width: 98%;
        height: 300px;
        border: 2px solid rgb(213, 213, 213);
        margin: auto;
        padding: 5px;
        margin-bottom: 5px;
        /* background-color: rgb(249,); */
        /* background-color: blue; */
    }
    #formTextArea {
        height: 200px;
    }
}
